$ussr-red: #CD0000;
$ussr-yellow: #FFD900;
$menu-font: 'Stalinist One', cursive;

body {
    background-color: $ussr-red;
    user-select: none;
}

h1 {
    color: $ussr-yellow;
    margin: 0;
}

.center {
    text-align: center;
}

.russian {
    font-family: $menu-font;
    font-size: 500%;
}

.russian-translation {
    font-family: $menu-font;
    font-size: 200%;
}

.title-container {
    display: flex;
    justify-content: space-around;
}

.title-box {
    margin-bottom: 3em;
}

.title-logo {
    width: 15%;
    height: 15%;
}

.menu-button {
    margin: 0 auto 30px;
    padding: 2rem;
    width: 35%;
    border-radius: 25px;
    background-color: #910000;
    color: $ussr-yellow;
    font-family: $menu-font;
    font-size: 200%;
}

.menu-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    font-family: $menu-font;
    color: $ussr-yellow;
}